body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'VT323', monospace;
  }
  
  body {
    background-color: #414141;
  }

  #game-board {
    background-color: #ffffff;
  }
  
  .snake {
    background-color: #000000;
  }
  .food {
    background-color: #45875f;
  }

  #game-board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
  }

  #instruction-text {
    position: absolute;
    top: 60%;
    color: #333;
    width: 300px;
    text-align: center;
    padding: 30px;
    margin: 0;
  }
  
  .scores {
    display: flex;
    justify-content: space-between;
  }
    

  
  
